---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2 style="margin-top:0; margin-bottom:1rem; font-size:1.4rem; border-bottom:2px solid #b5523a; padding-bottom:0.4rem; display:inline-block;">课程资源 / Course Materials</h2>
<ul style="margin-bottom:2.5rem; line-height:2;">
  <li><a href="/course-promo.html" target="_blank">股东纠纷十大高频场景｜课程宣传页</a></li>
  <li><a href="/Agent_%E5%B0%8F%E4%B8%96%E7%95%8C%E8%AF%B4%E6%98%8E%E4%B9%A6_%E8%AF%BE%E5%A0%82%E8%AF%BE%E4%BB%B6.html" target="_blank">Agent 不是工具调用：小世界说明书课堂课件</a></li>
  <li><a href="/MBA%E6%95%99%E6%9D%90-%E5%86%99%E4%BD%9C%E4%B8%8E%E5%86%85%E5%AE%B9%E6%B5%81%E7%A8%8B%E5%9B%BE.html" target="_blank">MBA教材写作与内容流程图</a></li>
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
